/*/AN/*/

:root {
    --main-color: #001650;
    --blue-color: #4F84DB;
    --green-color: #15BE69;
    --gray-color: #ABB2B5;
    --white-color: #FFFFFF;
    --black-color: #171717;
    --pink-color: #FF004E;
    --transparent-color: transparent;

    --text-color: #343A41;
    --secondary-text-color: #7C90A5;

    --dark-blue: #09287B;
    --dark-gray: #343A41;

    --bg-color: #F7F8FA;
    --bg-fade-blue: #4F84DB19;
    --bg-gray: #7C90A527;
    --bg-disabled: #F1F3F5;

    --border-color: #B5BABD80;
    --box-shadow: 0 0 10px #00000026;

    --quick-transition: all ease 0.5s;
    --smooth-transition: all ease 1s;
}

html {
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    overscroll-behavior: contain !important;
}

body {
    height: 100%;
    padding-top: 70px;
    /*overflow: hidden;*/
    background: var(--bg-color);
    overscroll-behavior: contain !important;
}

* {
    color: var(--main-color);
    font-family: roboto !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    src: url("/assets/fonts/Roboto-Regular.ttf");
    font-family: roboto;
}

a, a:hover, a:active, a:focus-within {
    color: inherit;
    text-decoration: none;
}

.h-unset {height: unset !important;}

/*Colors*/
.text-color, .text-color:hover {color: var(--text-color); fill: var(--text-color)}
.text-main, .text-main:hover {color: var(--main-color); fill: var(--main-color);}
.text-black, .text-black:hover {color: var(--black-color); fill: var(--black-color);}
.text-blue, .text-blue:hover {color: var(--blue-color); fill: var(--blue-color);}
.text-gray, .text-gray:hover {color: var(--gray-color); fill: var(--gray-color);}
.text-transparent, .text-transparent:hover {color: var(--transparent-color); fill: var(--transparent-color);}

.bg-main {background-color: var(--main-color);}
.bg-black {background-color: var(--black-color);}
.bg-green {background-color: var(--green-color);}
.bg-blue {background-color: var(--blue-color);}
.bg-dark-blue {background-color: var(--dark-blue);}
.bg-fade-blue {background-color: var(--bg-fade-blue);}
.bg-gray {background-color: var(--bg-gray);}
.bg-disabled {background-color: var(--bg-disabled);}
.bg-transparent {background-color: var(--transparent-color);}

.border-color {border: var(--border-color);}

/*Font Size*/
.f-10 {font-size: 10px;}
.f-12 {font-size: 12px;}
.f-14 {font-size: 14px;}
.f-16 {font-size: 16px;}
.f-18 {font-size: 18px;}
.f-19 {font-size: 19px;}
.f-20 {font-size: 20px;}
.f-22 {font-size: 22px;}
.f-24 {font-size: 24px;}

/*Font Weight*/
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}
.fw-900 {font-weight: 900;}

/*Text Overflow*/
.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.txt-overflow-1 {-webkit-line-clamp: 1;}
.txt-overflow-1 {-webkit-line-clamp: 2;}
.txt-overflow-1 {-webkit-line-clamp: 3;}
.txt-overflow-1 {-webkit-line-clamp: 4;}
.txt-overflow-1 {-webkit-line-clamp: 5;}
.txt-overflow-1 {-webkit-line-clamp: 6;}
.txt-overflow-1 {-webkit-line-clamp: 7;}
.txt-overflow-1 {-webkit-line-clamp: 8;}
.txt-overflow-1 {-webkit-line-clamp: 9;}
.txt-overflow-1 {-webkit-line-clamp: 10;}

/*Line Height*/
.line-height-0 {line-height: 0;}
.line-height-1 {line-height: 1;}
.line-height-2 {line-height: 2;}
.line-height-3 {line-height: 3;}
.line-height-4 {line-height: 4;}
.line-height-5 {line-height: 5;}
.line-height-6 {line-height: 6;}
.line-height-7 {line-height: 7;}
.line-height-8 {line-height: 8;}
.line-height-9 {line-height: 9;}
.line-height-10 {line-height: 10;}

/*Border Radius*/
.br-4 {border-radius: 4px;}
.br-6 {border-radius: 6px;}
.br-25 {border-radius: 25px;}
.br-circle {border-radius: 50%;}

/*Button*/
.custom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 100px;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 15px;
    transition: var(--quick-transition);
}

.main-btn {
    color: var(--main-color);
    fill: var(--main-color);
    border: 1px solid var(--main-color);
}

.main-fill-btn {
    color: var(--white-color) !important;
    fill: var(--white-color) !important;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

.main-btn:hover, .main-btn:active, .main-btn:focus-within {
    color: var(--white-color);
    fill: var(--white-color);
    background-color: var(--main-color);
}

.black-btn {
    color: var(--black-color);
    fill: var(--black-color);
    border: 1px solid var(--black-color);
}

.black-fill-btn {
    color: var(--white-color) !important;
    fill: var(--white-color) !important;
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
}

.black-btn:hover, .black-btn:active, .black-btn:focus-within {
    color: var(--white-color);
    fill: var(--white-color);
    background-color: var(--black-color);
}

.gray-btn {
    color: var(--gray-color);
    fill: var(--gray-color);
    border: 1px solid var(--bg-gray);
}

.gray-fill-btn {
    border: 1px solid var(--bg-gray);
    background-color: var(--bg-gray);
}

.gray-btn:hover, .gray-btn:active, .gray-btn:focus-within {
    color: var(--white-color);
    fill: var(--white-color);
    background-color: var(--bg-gray);
}

.blue-btn {
    color: var(--blue-color);
    fill: var(--blue-color);
    border: 1px solid var(--blue-color);
    background-color: var(--bg-fade-blue);
}

.blue-fill-btn {
    color: var(--white-color) !important;
    fill: var(--white-color) !important;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
}

.blue-btn:hover, .blue-btn:active, .blue-btn:focus-within {
    color: var(--white-color);
    fill: var(--white-color);
    background-color: var(--blue-color);
}

.dark-blue-btn {
    color: var(--dark-blue);
    fill: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.dark-blue-fill-btn {
    color: var(--white-color) !important;
    fill: var(--white-color) !important;
    border: 1px solid var(--dark-blue);
    background-color: var(--dark-blue);
}

.dark-blue-btn:hover, .dark-blue-btn:active, .dark-blue-btn:focus-within {
    color: var(--white-color);
    fill: var(--white-color);
    background-color: var(--dark-blue);
}

.green-btn {
    color: var(--green-color);
    fill: var(--green-color);
    border: 1px solid var(--green-color);
}

.green-fill-btn {
    color: var(--white-color) !important;
    fill: var(--white-color) !important;
    border: 1px solid var(--green-color);
    background-color: var(--green-color);
}

.green-btn:hover, .green-btn:active, .green-btn:focus-within {
    color: var(--white-color);
    fill: var(--white-color);
    background-color: var(--green-color);
}

/*Flex Wrap*/
.flex-wrap {
    flex-wrap: wrap;
}

/*Height*/
.hpx-10 {height: 10px;}
.hpx-15 {height: 15px;}
.hpx-20 {height: 20px;}
.hpx-30 {height: 30px;}
.hpx-35 {height: 35px;}
.hpx-38 {height: 38px;}
.hpx-40 {height: 40px;}
.hpx-45 {height: 45px;}
.hpx-50 {height: 50px;}
.hpx-60 {height: 60px;}
.hpx-70 {height: 70px;}
.hpx-80 {height: 80px;}
.hpx-90 {height: 90px;}
.hpx-100 {height: 100px;}

/*NavBar @pv@an*/
.custom-navbar .navbar-brand img {
    height: 44px;
}

/*Filter Section @pv@an*/
.filter-section .home-subject-btn-deck .home-subject-btn {
    display: flex !important;
    width: fit-content !important;
    height: 50px;
    margin-right: 4px;
}

.filter-section .home-subject-btn-deck .slick-list {
    padding-left: 5px;
}

.filter-section .home-subject-btn-deck .slick-slide {
    width: fit-content !important;
}

.filter-section .home-subject-btn-deck .slick-prev:before, .filter-section .home-subject-btn-deck .slick-next:before {
    color: var(--black-color);
}

.filter-section .filter-search-content .input-group-text {
    color: var(--gray-color);
    border-right: none !important;
    border: 1px solid var(--border-color);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: var(--white-color);
}

.filter-section .filter-search-content .input-group-text svg {
    fill: var(--gray-color);
    width: 16px;
    height: 16px;
}

.filter-section .filter-search-content input {
    border-left: none !important;
    border: 1px solid var(--border-color);
}

.filter-section .filter-search-content input:active,
.filter-section .filter-search-content input:focus-within {
    outline: none;
    box-shadow: none;
}

.filter-section .filter-search-content input::placeholder {
    color: var(--gray-color);
}

.filter-section .filter-grade-btn-deck {
    position: relative;
    flex-wrap: wrap;
    padding-right: 40px;
}

.filter-section .filter-grade-btn-deck .filter-grade-btn {
    height: 38px;
    margin-right: 10px;
    min-width: fit-content !important;
}

.filter-section .filter-grade-btn-deck .filter-grade-link-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 38px !important;
    min-width: 38px !important;
    height: 38px;
    padding: 0 !important;
}

.filter-section .filter-grade-btn-deck .filter-grade-link-btn svg {
    width: 16px;
    height: 16px;
}

/*Home Deck Slider*/
.subject-card-deck .subject-card-slider {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.subject-card-slider .subject-card {
    display: flex !important;
    justify-content: center;
}

.subject-card-slider .subject-card .subject-card-inner {
    width: 290px;
}

.subject-card-slider .subject-card-img {
    width: 100%;
    height: 290px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

.subject-card-slider .subject-card-img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover !important;
    object-position: center center !important;
}

.subject-card-slider .slick-prev, .subject-card-slider .slick-next {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 10px solid var(--white-color);
    background-image: url(../../assets/images/slider/arrow.png);
    background-size: 100% 100%;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
}

.subject-card-slider .slick-prev {
    left: 30px;
    z-index: 1;
}

.subject-card-slider .slick-next {
    right: 30px;
    -webkit-transform: translate(0, -50%) rotate(180deg);
    -ms-transform: translate(0, -50%) rotate(180deg);
    transform: translate(0, -50%) rotate(180deg);
}

.subject-card-slider .slick-prev:before, .subject-card-slider .slick-next:before {
    content: "" !important;
}

/*Login Form*/
.login-form, .user-info-form {
    padding: 40px;
    border-radius: 4px;
    background-color: var(--white-color);
}

.custom-radio {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background-color: #fff;
    transition: var(--quick-transition);
}

/* On mouse-over, add a grey background color */
.custom-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
    background-color: var(--green-color);
}

.custom-radio .custom-radio-lbl {
    transition: var(--quick-transition);
}

.custom-radio input:checked ~ .custom-radio-lbl {
    color: var(--black-color) !important;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
    top: 5px;
    width: 10px;
    height: 10px;
    background-image: url(../../assets/images/custom/check.png);
    background-size: 100% 100%;
    transition: var(--quick-transition);
}

/*Custom Checkbox*/
/* The container */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--border-color);
    background-color: #fff;
    transition: var(--quick-transition);
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkbox-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkbox-checkmark {
    background-color: var(--blue-color);
}

/* Create the checkbox-checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkbox-checkmark when checked */
.custom-checkbox input:checked ~ .checkbox-checkmark:after {
    display: block;
}

/* Style the checkbox-checkmark/indicator */
.custom-checkbox .checkbox-checkmark:after {
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Login Social Button*/
.login-social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 10px);
    height: 50px;
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    transition: var(--quick-transition);
}

.login-social-btn .login-social-btn-img {
    width: 30px;
    height: 30px;
}

.login-social-btn:hover,
.login-social-btn:active,
.login-social-btn:focus-within {
    box-shadow: var(--box-shadow);
}

/*Custom Input*/
.custom-input {
    color: var(--black-color);
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    background-color: var(--bg-disabled);
}

option:first-child {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 500;
}

.custom-input::placeholder {
    font-size: 16px;
    color: var(--gray-color) !important;
}

.custom-input:hover,
.custom-input:active,
.custom-input:focus-within {
    outline: none;
    background-color: var(--bg-disabled);
    box-shadow: none;
}

.login-section .login-form .password-visible-icon {
    cursor: pointer;
    position: absolute;
    color: var(--gray-color);
    top: 12px;
    right: 28px;
    font-size: 20px;
    transition: var(--quick-transition);
}

/*User Info Form @pv@an*/
.user-info-section .user-info-form .user-info-image {
    width: 130px;
    height: 130px;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}